In [1]:
import pandas as pd 

movie_df=pd.read_csv('imdb.csv')
movie_df

                                                  Review  Rating  Sentiment
0      Kurt Russell's chameleon-like performance, cou...      10          1
1      It was extremely low budget(it some scenes it ...       8          1
2      James Cagney is best known for his tough chara...       8          1
3      Following the brilliant "Goyôkiba" (aka. "Hanz...       8          1
4      One of the last classics of the French New Wav...      10          1
...                                                  ...     ...        ...
49995  (spoiler) it could be the one the worst movie ...       4          0
49996  So, you've seen the Romero movies, yes? And yo...       1          0
49997  Just listen to the Broadway cast album and to ...       3          0
49998  I have been a fan of the Carpenters for a long...       3          0
49999  Set in 1945, Skenbart follows a failed Swedish...       1          0

[50000 rows x 3 columns]

In [3]:
test_str = "#'This', is $string #with punction, <br /> @'html_tag' and actual message also!"
text_clean(test_str)

NameError: name 're' is not defined

In [4]:
import pandas as pd # for managing relation datasers 
import numpy as np #to work with multi-dimentional array object 
import re          # needed to search and change text using formal patterns
import seaborn as sns # helps with managing data_frames 
import matplotlib.pyplot as plt

In [6]:
import nltk 
from nltk.corpus import stopwords 
nltk.download('stopwords') #removal of common but unuseful information/words

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/brianwaddell/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
import pandas as pd 

movie_df=pd.read_csv('imdb.csv')
movie_df

                                                  Review  Rating  Sentiment
0      Kurt Russell's chameleon-like performance, cou...      10          1
1      It was extremely low budget(it some scenes it ...       8          1
2      James Cagney is best known for his tough chara...       8          1
3      Following the brilliant "Goyôkiba" (aka. "Hanz...       8          1
4      One of the last classics of the French New Wav...      10          1
...                                                  ...     ...        ...
49995  (spoiler) it could be the one the worst movie ...       4          0
49996  So, you've seen the Romero movies, yes? And yo...       1          0
49997  Just listen to the Broadway cast album and to ...       3          0
49998  I have been a fan of the Carpenters for a long...       3          0
49999  Set in 1945, Skenbart follows a failed Swedish...       1          0

[50000 rows x 3 columns]

In [15]:
def text_clean(text):

 html_tag = '<br />'
 text = text.replace(html_tag, '')# removal of html tag
 text = re.sub(r'[^\w\s]', '', text) #code cleans speical chars 
 text = text.lower() #convert to lowercase 
 text = [word for word in text.split() if word not in stopwords.words('english')] #function to join text if word not in stopwords list 
 text = ' '. join(text)

 return text

In [16]:
test_str = " ! Hello wor7lD , is meSSage $& ! with spe%ical Chara to CLEAN?"
text_editor(test_str)

'hello wor7ld message speical chara clean'

In [22]:
movie_df['Review'] = movie_df['Review'].apply(text_clean)

In [24]:
movie_df

                                                  Review  Rating  Sentiment
0      kurt russells chameleonlike performance couple...      10          1
1      extremely low budgetit scenes looks like recor...       8          1
2      james cagney best known tough characters gangs...       8          1
3      following brilliant goyôkiba aka hanzo razor s...       8          1
4      one last classics french new wave direction ci...      10          1
...                                                  ...     ...        ...
49995  spoiler could one worst movie see might like l...       4          0
49996  youve seen romero movies yes youve seen jacobs...       1          0
49997  listen broadway cast album voices barbara harr...       3          0
49998  fan carpenters long time read biography watche...       3          0
49999  set 1945 skenbart follows failed swedish book ...       1          0

[50000 rows x 3 columns]

In [ ]:
movie_df['Review'] = movie_df['Review'].apply(text_editor) #applying text editor to review section

In [23]:
movie_df

                                                  Review  Rating  Sentiment
0      kurt russells chameleonlike performance couple...      10          1
1      extremely low budgetit scenes looks like recor...       8          1
2      james cagney best known tough characters gangs...       8          1
3      following brilliant goyôkiba aka hanzo razor s...       8          1
4      one last classics french new wave direction ci...      10          1
...                                                  ...     ...        ...
49995  spoiler could one worst movie see might like l...       4          0
49996  youve seen romero movies yes youve seen jacobs...       1          0
49997  listen broadway cast album voices barbara harr...       3          0
49998  fan carpenters long time read biography watche...       3          0
49999  set 1945 skenbart follows failed swedish book ...       1          0

[50000 rows x 3 columns]

In [ ]:
from nltk.stem.porter import PorterStemmer # word stemmer based on porter stemming algo

wordstemmer = PorterStemmer()

def steming(text):
    return[wordsstemmer.stem(word) for word in text.split()]

In [ ]:
import nltk #word tokenizer 

word_data= "it originated from then iidea that all people are equal "
nltk_tokens=nltk.word_toekize(word_data)
print (nltk_tokens)